.wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.display-section {
}

.button-section {
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex: 1;
}

.row {
    display: flex;
    gap: 1px;
    flex: 1;
    .large-btn {
        flex-basis: calc(25% + 0.5px);
    }
}
