.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.display-section {
}

.button-section {
    flex: 1;
}

.row {
    display: flex;
    height: 20%;
    margin-bottom: 1px;
}

.large-btn {
}
